_site
.sass-cache
.jekyll-metadata
.asset-cache/
.jekyll-cache/

api/taxonomy
fishtree

_class
_cohort
_division
_infraclass
_infracohort
_infraorder
_megacohort
_section
_series
_subclass
_subcohort
_subdivision
_suborder
_subsection
_supercohort
_superorder
_family
_order

_fossils
_data/fossil_data.csv
_data/fossil_pretty.csv
_data/taxonomy
_data/monophyly
downloads/taxonomy/
downloads/*.xz
downloads/fossil_data.csv
downloads/taxonConversion.csv
assets/img/vertical_tree*.png

# bundler
.bundle/
vendor/
