_site
.sass-cache
.jekyll-metadata
.asset-cache/
.jekyll-cache/

api
_family
_order
_fossils
_data/fossil_data.csv
_data/fossil_pretty.csv
_data/taxonomy
_data/monophyly_*
downloads/taxonomy/
_assets/img/vertical_tree*.png

# bundler
.bundle/
vendor/
