title: The Fish Tree of Life
tagline: LOL
author: Jonathan Chang
email: jonathan.chang@monash.edu
description: A comprehensive resource for ray-finned fish (Actinopterygii) phylogenetics, the taxonomy of fishes, and fossils of extinct fishes.
short_description: > # this means to ignore newlines until "baseurl:"
    taxonomy, phylogenies, fossils, and more

url: https://fishtreeoflife.org

plugins:
    - jekyll-sitemap
    - jekyll-tidy

twitter_username: chang_jon
github_username:  jonchang
google_analytics: UA-15180347-2

twitter:
    username: chang_jon
    card: summary_large_image

# Build settings
markdown: CommonMarkGhPages

# markdown processor
commonmark:
  options: ["SMART", "FOOTNOTES"]
  extensions: ["strikethrough", "autolink", "table"]

# Minima date format
# refer to http://shopify.github.io/liquid/filters/date/ if you want to customize this
minima:
    date_format: "%b %-d, %Y"

include:
    - _pages
    - .nojekyll

jekyll_tidy:
    ignore_env: development

favicon:
    source: favicon.png
    path: "/assets/"

assets:
    defaults:
        js: { integrity: false }
        css: { integrity: false }
        img: { integrity: false }
    plugins:
        img:
            optim:
                default:
                    threads: 4
                    verbose:
                        true
                    pack: true
                    pngquant:
                        allow_lossy: true

collections:
    class:
        output: true
        permalink: /taxonomy/:collection/:title/
    cohort:
        output: true
        permalink: /taxonomy/:collection/:title/
    division:
        output: true
        permalink: /taxonomy/:collection/:title/
    infraclass:
        output: true
        permalink: /taxonomy/:collection/:title/
    infracohort:
        output: true
        permalink: /taxonomy/:collection/:title/
    infraorder:
        output: true
        permalink: /taxonomy/:collection/:title/
    megacohort:
        output: true
        permalink: /taxonomy/:collection/:title/
    section:
        output: true
        permalink: /taxonomy/:collection/:title/
    series:
        output: true
        permalink: /taxonomy/:collection/:title/
    subclass:
        output: true
        permalink: /taxonomy/:collection/:title/
    subcohort:
        output: true
        permalink: /taxonomy/:collection/:title/
    subdivision:
        output: true
        permalink: /taxonomy/:collection/:title/
    suborder:
        output: true
        permalink: /taxonomy/:collection/:title/
    subsection:
        output: true
        permalink: /taxonomy/:collection/:title/
    supercohort:
        output: true
        permalink: /taxonomy/:collection/:title/
    superorder:
        output: true
        permalink: /taxonomy/:collection/:title/
    family:
        output: true
        permalink: /taxonomy/:collection/:title/
    order:
        output: true
        permalink: /taxonomy/:collection/:title/
    fossils:
        output: true
        permalink: /:collection/:title/

# If you want to link only specific pages in your header, uncomment
# this and add the path to the pages in order as they should show up
header_pages:
    - about.md
    - methods.md
    - taxonomy.md
    - fossils.md
    - downloads/index.md

# Build settings
markdown: kramdown
exclude:
    - Gemfile
    - Gemfile.lock
    - scripts/
    - .bundle/
    - vendor/
    - .git/
    - .asset-cache/
    - .jekyll-cache/
    - .travis.yml
    - _site/

permalink: pretty

defaults:
    - scope:
          path: ""
          type: "pages"
      values:
          layout: "page"
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: class
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: cohort
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: division
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: infraclass
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: infracohort
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: megacohort
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: section
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: series
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: subclass
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: subcohort
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: subdivision
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: suborder
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: supercohort
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: superorder
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: order
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: family
      values:
          layout: rank
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
          path: ""
          type: fossils
      values:
          layout: fossils
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png
    - scope:
        path: "downloads/family"
      values:
          download_type: "family"
          image: https://fishtreeoflife.org/downloads/front-page-tree@1x.png

