<div style="overflow-x:auto;">
    <table>
        <tbody>
            <tr><th>{{ include.rank | capitalize }}</th><th>Sampled richness</th><th>Total richness</th></tr>
            {% for rank in site[include.rank] %}
            <tr>
                <td><a href="{{ rank.url | relative_url }}">{{ rank.title }}</a></td>
                <td>{{ site.data.taxonomy[include.rank][rank.title].sampled_species | size }}</td>
                <td>{{ site.data.taxonomy[include.rank][rank.title].species | size }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


