---
layout: page
---

<h2>Species</h2>

<p>Sampling: {{ site.data.family[page.title] | where:"sampled","1" | size }} species out of {{ site.data.family[page.title] | size }}</p>

<p>
<ul>
{% for row in site.data.family[page.title] %}
{% if row.sampled == "1" %}
<li><strong><em>{{ row.species }}</em></strong></li>
{% else %}
<li><em>{{ row.species }}</em></li>
{% endif %}
{% endfor %}
</ul>
</p>

<a href="data:application/json,{{ site.data.family[page.title] | jsonify | uri_escape }}">Download species data</a>

<h2>Taxonomy</h2>

Order: {{ page.order }}


<h2>Downloads</h2>

<h3>Time-calibrated phylogenies</h3>

{% assign family_files = site.static_files | where_exp: "item", "item.basename contains page.title" %}

{% assign family_trees = family_files | where_exp: "item", "item.extname contains '.tre'" %}

{% if family_trees == empty %}
  {% case site.data.family[page.title].species.size %}
  {% when 1 %}
    <p>No time-calibrated phylogenies available (family is monotypic)</p>
  {% when 2 or 3 or 4%}
    <p>No time-calibrated phylogenies available (too few species)</p>
  {% else %}
    <p>No time-calibrated phylogenies available (too few sampled species)</p>
  {% endcase %}
{% else %}
  {% if page.num_rogues == 0 %}
    <p><a href="{{ family_trees[0].path | relative_url }}">Time-calibrated phylogeny of {{ page.title }}</a></p>
  {% else %}
    <p>Note: there were {{ page.num_rogues }} non-{{ page.title | split: "" | reverse | join: "" | slice: 2, 9999 | split: "" | reverse | join: "" | downcase }} species that caused {{ page.title }} to be inferred as paraphyletic.</p>
    {% assign mrca_tree = family_trees | where_exp: "item", "item.basename contains 'mrca'" %}
    {% assign good_tree = family_trees | where_exp: "item", "item.basename == page.title" %}
    <p><a href="{{ good_tree[0].path | relative_url}}">Time-calibrated phylogeny of <em>only</em> species in {{ page.title }}</a></p>
    <p><a href="{{ mrca_tree[0].path | relative_url}}">Time-calibrated phylogeny of "{{ page.title }}"</a></p>
  {% endif %}
{% endif %}

<h3>Sequence data</h3>

{% assign family_sequences = family_files | where_exp: "item", "item.basename contains 'phylip'" %}

{% if family_sequences != empty %}
  <p><a href="{{ family_sequences[0].path | relative_url }}">Phylip sequences for {{ page.title }}</a></p>
{% else %}
  <p>No sequences available (too few sampled species)</p>
{% endif %}


{{ content }}
