---
layout: page
---

<style>
dt { margin: 1em auto auto auto; font-weight: bold; }
</style>

{% assign fossil = site.data.fossil_data | where: "fossil", page.title %}
{% assign fossil = fossil[0] %}

{% assign outgroups = fossil.outgroup_sequence | split: "	" %}

<dl class="event">
    <dt>Taxon calibrated</dt>
    <dd>{{ fossil.clade_pretty }}</dd>

    <dt>Minimum age</dt>
    <dd>{{ fossil.min }} Ma</dd>

    <dt>Maximum 95% CI age</dt>
    {% if fossil.max == "NA" %}
    <dd>None specified</dd>
    {% else %}
    <dd>{{ fossil.max | slice: 0, 5}}</dd>
    {% endif %}

    <dt>Authority</dt>
    <dd>{{ fossil.authority }}</dd>

    <dt>Locality</dt>
    <dd>{{ fossil.locality }} </dd>

    <dt>Outgroup sequence</dt>
    {% for og in outgroups %}
    {% assign og_data = site.data.fossil_data | where: "clade_pretty", og %}
    {% assign og_data = og_data[0] %}
    {% if og_data %}
    <dd><a href="{{ "/fossils/" | append: og_data.slug | relative_url }}/"><em>{{ og_data.fossil }}</em> ({{ og_data.clade_pretty }}, {{ og_data.min }} Ma)</a></dd>
    {% else %}
    <dd>{{ og }}</dd>
    {% endif %}
    {% endfor %}
</dl>

