---
layout: default
---

<article class="fossils">

  <header class="post-header">
      <h1 class="post-title"><em>{{ page.title | escape }}</em>&dagger;</h1>
  </header>

{% assign fossil = site.data.fossil_data | where: "fossil", page.title %}
{% assign fossil = fossil[0] %}

{% assign outgroups = fossil.outgroup_sequence | split: "	" %}

  <div class="post-content">
<dl class="event">
    <dt>Taxon calibrated</dt>
    <dd>{{ fossil.clade_pretty }}</dd>

    <dt>Minimum age</dt>
    <dd>{{ fossil.min }} Ma</dd>

    <dt>Maximum 95% CI age</dt>
    {% if fossil.max == "NA" %}
    <dd>None specified</dd>
    {% else %}
    <dd>{{ fossil.max | slice: 0, 5}} Ma</dd>
    {% endif %}

    <dt>Authority</dt>
    <dd>{{ fossil.authority }}</dd>

    <dt>Locality</dt>
    <dd>{{ fossil.locality }}</dd>

    <dt>Age Authority</dt>
    <dd>{{ fossil.age_authority }}</dd>

    <dt>Outgroup sequence</dt>
    {% for og in outgroups %}
    {% assign og_data = site.data.fossil_data | where: "clade_pretty", og %}
    {% assign og_data = og_data[0] %}
    {% if og_data %}
    <dd><a href="{{ "/fossils/" | append: og_data.slug | relative_url }}/"><em>{{ og_data.fossil }}</em> ({{ og_data.clade_pretty }}, {{ og_data.min }} Ma)</a></dd>
    {% else %}
    {% assign og_data = site.data.extra_data | where: "clade", og %}
    {% if og_data[0] %}
    <dd><em>{{ og_data[0].fossil }}</em> ({{ og }}, {{ og_data[0].min }} Ma)</dd>
    {% else %}
    <dd>{{ og }}</dd>
    {% endif %}
    {% endif %}
    {% endfor %}
    <dt>Taxa this fossil might apply to:</dt>
    {% assign left = fossil.left | replace: "_", " " %}
    {% assign right = fossil.right | replace: "_", " " %}

    {% for rank in site.data.ranks %}
    {% assign name = rank %}
    {% if fossil[name] != "NA" %}
    {% assign nn = fossil[name] %}
    {% assign url = "taxonomy/" | append: rank | append: "/" | append: nn %}
    <dd>{{ rank | capitalize }}: <a href="{{ url | relative_url }}">{{ nn }}</a></dd>
    {% endif %}
    {% endfor %}
  
</dl>

  </div>
</article>
