---
layout: page
---

{% assign df = site.data.taxonomy[page.collection][page.title] %}

<section id="species">
    <h2>Species</h2>

    <p>Sampling: {{ df.sampled_species | size }} species out of {{ df.species | size }}</p>

    <details>
        <summary>Species list</summary>
        <ul id="species-list">
            {% for spp in df.species %}
            {% if df.sampled_species contains spp %}
            <li><strong><em>{{ spp }}</em></strong></li>
            {% else %}
            <li><em>{{ spp }}</em></li>
            {% endif %}
            {% endfor %}
        </ul>
    </details>
</section>

<section id="fossils">
    <h2>Fossil calibrations</h2>

    {% assign species_list = df.sampled_species | join: "," | replace: " ", "_" | split: "," %}
    {% assign fossils = "" | split: "" %}

    {% for row in site.data.fossil_pretty %}
    {% if species_list contains row.left and species_list contains row.right %}
    {% assign fossils = fossils | push: row %}
    {% endif %}
    {% endfor %}

    {% if fossils == empty %}
    <p>No internal fossil calibrations are available for this group.</p>
    {% else %}
    <ul>
        {% for fossil in fossils %}
        <li>{{ fossil.clade }} (<em><a href="{{ fossil.fossil | slugify | prepend: "/fossils/" | relative_url }}">{{ fossil.fossil }}</a></em>&dagger;) {{ fossil.min }} Ma</li>
        {% endfor %}
    </ul>

    <p><a href="data:application/json,{{ fossils | jsonify | uri_escape }}">Download fossil calibration data</a></p>
    {% endif %}
</section>

<section id="taxonomy">
    <h2>Taxonomy</h2>
    <dl>
    {% for rank in site.data.ranks %}
    {% if df.taxonomy[rank].size > 0 %}
    <dt>{{ rank | capitalize }}</dt>

    {% for name in df.taxonomy[rank] %}
    {% assign nn = site[rank] | where: "title", name | first %}
    {% if nn.title == page.title %}
    <dd><strong>{{ page.title }}</strong></dd>
    {% else %}
    <dd><a href="{{ nn.url | relative_url }}">{{ name }}</a></dd>
    {% endif %}
    {% endfor %}

    {% endif %}
    {% endfor %}
    </dl>
</section>

<section id="downloads">
    <h2>Downloads</h2>

    <p><a href="/api/taxonomy/{{ page.collection }}/{{ page.title }}.json">Download {{ page.title }} data (JSON format)</a></p>

    <section id="downloads-phylogenies">
        <h3>Phylogenies</h3>

        {% if df.chronogram %}
        {% if df.rogues == empty %}
        <p><a href="{{ df.phylogram | relative_url }}">Phylogram of {{ page.title }}</a></p>
        <p><a href="{{ df.chronogram | relative_url }}">Time-calibrated phylogeny of {{ page.title }}</a></p>
        {% else %}
        <p>There were {{ df.rogues | size }} species that caused {{ page.title }} to be inferred as paraphyletic.</p>
        <p><a href="{{ df.chronogram | relative_url }}">Time-calibrated phylogeny of <em>only</em> species in {{ page.title }}</a></p>
        <p><a href="{{ df.chronogram_mrca | relative_url }}">Time-calibrated phylogeny of "{{ page.title }}"</a></p>
        <p><a href="{{ df.phylogram | relative_url }}">Phylogram of <em>only</em> species in {{ page.title }}</a></p>
        <p><a href="{{ df.phylogram_mrca | relative_url }}">Phylogram of "{{ page.title }}"</a></p>
        {% endif %}
        {% else %}
        {% case df.sampled_species.size %}
        {% when 1 %}
        <p>No phylogenies available ({{ page.collection }} is monotypic)</p>
        {% when 2 %}
        <p>No phylogenies available (too few species)</p>
        {% else %}
        <p>No phylogenies available (too few sampled species)</p>
        {% endcase %}
        {% endif %}
    </section>

    <section id="downloads-sequence">
        <h3>Sequence data</h3>
        {% if df.matrix_phylip %}
        <p><a href="{{ df.matrix_phylip | relative_url }}">Phylip sequences for {{ page.title }}</a></p>
        <p><a href="{% link downloads/final_alignment.partitions %}">RAxML-style partitions file</a></p>
        {% if df.chronogram %}
        <p><a href="{{ df.matrix_nexus | relative_url }}">Nexus file for {{ page.title }} (includes character partitions and phylogeny)</a></p>
        {% else %}
        <p><a href="{{ df.matrix_nexus | relative_url }}">Nexus file for {{ page.title }} (includes character partitions)</a></p>
        {% endif %}
        {% else %}
        <p>No sequences available (too few sampled species)</p>
        {% endif %}
    </section>
</section>

{{ content }}
